.input:focus {
    border: 1px solid #0066CC;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    padding: 5px 10px;
}

.errorInput {
    border: 1px solid #CC1439;
    border-radius: 5px;
    padding: 5px 10px;
}

.errorInput:focus {
    border: 1px solid #cc0000;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC1439;
}
